[Unit]
Description=Amongstars Discord Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/amongstars-discord
ExecStart=python3 bot.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
